<!-- const room:RoomList = {
    //roomNumber: '4',
    roomType: "deluxe",
    amenities: "wifi",
    price: 1500,
    photos: 'https',
    checkinTime: new Date('11-10-21'),
    checkoutTime: new Date('12-10-21'),
    rating: 8.285
  } -->
    
    <!-- {{room | json}} -->
    {{roomsForm.valid}}
    {{roomsForm.invalid}}
    {{roomsForm.pristine}}
    {{roomsForm.dirty}}
    {{roomsForm.value | json}}


  <form #roomsForm = "ngForm" (ngSubmit)="addRoom(roomsForm)">
    <div class="form-group">
        <input required class="form-control" type="text" name="roomType" [(ngModel)]="room.roomType" placeholder="Room Type">
    </div>
    <div class="form-group">
        <input #roomAmenities = "ngModel" required minlength="5" maxlength="20" class="form-control" type="text" name="amenities" [(ngModel)]="room.amenities" placeholder="Amenities">
    </div>
    <div class="alert alert-danger" *ngIf="roomAmenities.errors?.['minlength']">
        Field should have a minimum of 5 characters length!
    </div>
    <div class="form-group">
        <input class="form-control" type="number" name="price" [(ngModel)]="room.price" placeholder="Price">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="PhotLink" [(ngModel)]="room.photos" placeholder="Photo Link">
    </div>
    <div class="form-group">
        <input class="form-control" type="datetime" name="checkinTime" [(ngModel)]="room.checkinTime" placeholder="checkinTime">
    </div>
    <div class="form-group">
        <input class="form-control" type="datetime" name="checkoutTime" [(ngModel)]="room.checkoutTime" placeholder="checkoutTime">
    </div>
    <div class="form-group">
        <input class="form-control" type="number" name="rating" [(ngModel)]="room.rating" placeholder="rating">
    </div>
    <div>
        <button [disabled] = "roomsForm.invalid" type="submit" class="btn btn-primary">Add Room</button>
    </div>
  </form>