<app-header></app-header>



<div [ngStyle]="{'color': rooms.availableRooms ? 'blue' : 'red'}" *ngIf="hidden">

    <p>rooms works!</p>
    <p>Titulo: {{title}}</p>
    
</div>

        <!-- {{roomList | json}} -->

        {{ rooms.totalRooms && rooms.totalRooms > 0 ? rooms.totalRooms : 'No Rooms'}}
    
    
<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>
<div>
    <button (click)="addRoom()">Add Room</button>
</div>

<h1>
    {{getError$ | async}}
</h1>

<div *ngIf = "rooms$ | async as room">
    <app-room-list [rooms] = "room" (selectedRoom)="selectRoom($event)" [title] = "title1"> </app-room-list>
</div>



<h1 *ngFor="let value of roomsCount$ | async">Room Number: {{value}}</h1>
<button (click)="toggle()">Toggle</button>
<button (click)="updateRoom()">Update Room</button>
<button (click)="deleteRoom()">Delete Room</button>
<h1>
    {{totalBytes}} loaded
</h1>


