<app-header></app-header>



<div [ngStyle]="{'color': rooms.availableRooms ? 'blue' : 'red'}" *ngIf="hidden">

    <p>rooms works!</p>
    <p>Titulo: {{title}}</p>
    
</div>

        <!-- {{roomList | json}} -->

        {{ rooms.totalRooms && rooms.totalRooms > 0 ? rooms.totalRooms : 'No Rooms'}}
    
    
<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>
<div>
    <button (click)="addRoom()">Add Room</button>
</div>
        
<div *ngIf = "rooms.availableRooms && rooms.availableRooms > 0">
    <app-room-list [rooms] = "roomList" (selectedRoom)="selectRoom($event)" [title] = "title1"> </app-room-list>
</div>


<button (click)="toggle()">Toggle</button>


